.mmm-nrl table {
    width: 100%;
    border-spacing: 2px;
    border-collapse: separate;
    color: #fff;
}

.mmm-nrl tr {
    padding: 0;
}

.mmm-nrl td {
    padding: 5px;
    text-align: center;
}

.mmm-nrl td.align-left {
    text-align: left;
}

.mmm-nrl td.align-right {
    text-align: right;
}

.mmm-nrl td.align-center {
    text-align: center;
    min-width: 50px;
}

.mmm-nrl .dimmed {
    color: #666;
}

.mmm-nrl .bright {
    color: #fff;
}

.mmm-nrl .small {
    font-size: 15px;
    line-height: 20px;
}

.mmm-nrl .light {
    font-family: "Roboto Condensed", Arial, Helvetica, sans-serif;
    font-weight: 300;
}
